/* --- Variables --- */
:root {
    --background-color: #f8dfdb;
    --text-color-c1: #fc221c;
    --text-color-c2: #FFEFE6;
    --text-color-c3: #555555;
    --text-color-c4: #999999;
    --font-family-primary: 'Gilroy', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
    --font-family-tertiary: 'Lato', sans-serif;
    --font-size-p: 17px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
      overflow-x: visible!important;
      position: relative; 
      font-family: var(--font-family-secondary)!important;
      -webkit-font-smoothing: antialiased!important;
      background-color: var(--background-color);
}
p {
      font-size: 17px;
      color: var(--text-color-c3);
      line-height: 34px;
      font-family: var(--font-family-secondary);
      -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: var(--font-family-primary);
  color: var(--text-color-c1); 
  font-weight: 600;
  font-size: 50px;
  line-height: 56px;
}

h2 {
  font-family: var(--font-family-primary);
  color: var(--text-color-c1); 
  font-weight: 600;
  font-size: 42px;
  line-height: 59px;
}


h4 {
  font-family: var(--font-family-primary);
  color: var(--text-color-c1); 
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  margin: 50px 0 30px 0;
}

small {
      font-size: 14px;
      font-weight: 400;
      font-family: var(--font-family-secondary);
      -webkit-font-smoothing: antialiased;
}
section {
      margin: 50px 0;
}


/* --- HOME TOP CONTENT --- */

.home_top_content_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 80px auto 10px auto;
}
.home_top_content {
    border-top: solid 0px #ffffff;
    padding-top: 25px;
}
.home_d1_top {
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    color: var(--text-color-c1);
    font-size: 55px;
    font-weight: 500;
    line-height: 62px;
}
.home_top_description {
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    color: var(--text-color-c1);
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}


/* --- HOME CARDS --- */

.home_card_container_main {
  padding-top: 0px;
}

.home_card_container_title {
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    color: var(--text-color-c1);
    font-weight: normal;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 10px;
}
.home_card_container {
  width: 80%;
  margin: auto;
  border: solid 0px red;
}
.home_card_all {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: auto;
  margin-left: 0;
  padding: 90px 0;
  border: solid 0px orange;
}

.home_card_all a {
    border: solid 0px green;
    height: auto;
    border-radius: 15px;
    background: none;
    transition: background ease 0.5s;
    margin-bottom: 30px;
}

.home_card_all a:hover {
  background: #F8D0C9;
  transition: background ease 0.5s;
}


/* --- CARDS --- */

.card {
  /* margin-bottom: 70px;*/
  display: flex;
  border-radius: 10px;
  width: 100%;
  border: solid 0px black;
}

.card_image {
  height: 220px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  border: solid 0px green;
}

.card_details {
  width: 50%;
  padding: 0px;
  border: solid 0px red;
  height: auto;
  margin-left: 30px;
}


.card_action {
  transition: transform 0.2s ease-in-out;
}

.card:hover .card_action {
  transform: translate(15px, 0px);
}

.card-tag-row {
  width: auto;
}

.card_tag {
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color-c1);
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 0 15px 0;
  padding: 4px 10px 2px 10px;
  border: solid 1px red;
  border-radius: 20px;
  width: fit-content;
  width: -moz-fit-content;
}
.card_tag_separator {
  margin: 0 9px;
  font-weight: 900;
}
.card_title {
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color-c1);
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 25px 0;
  padding: 0;
  height: 100px;
}


.card_image:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
}

.card:hover .card_image {
  transform: scale(1.05);
}



/* --- FOOTER --- */

.footer_container {
  background-color: var(--background-color);
  margin: auto;
  border: solid 0px red;
  width: 80%;
}
.footer {
  padding: 70px 0 150px 0px;
  border: solid 0px red;
}
.logo_footer {
  margin-bottom: 40px;
}
.footer_info {
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color-c3);
  line-height: 28px;
}
.icon_love {
  margin: 0 5px;
  vertical-align: middle;
}


@media (min-width: 576px) {
    .home_top_content_container {
      width: 450px;
      margin: 220px auto 80px auto;
    }

    .home_d1_top {
      font-size: 100px;
      line-height: 120px;
    }
    .home_top_description {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .home_card_container {
      max-width: 450px;
    }
    .home_card_all {
      margin-left: 0px;
    }
    /* .card {
      width: 450px;
    } */
    /* .card_details {
      padding: 0px;
    }
    .card_image {
      width: 450px;
    } */
        .footer_container {
      width: 450px;
  }
}

@media (min-width: 768px) {
    .home_top_content_container {
      width: 600px;
      margin: 220px auto 100px auto;
    }

    .home_d1_top {
      font-size: 130px;
      line-height: 160px;
    }
    .home_top_description {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .home_card_container {
      max-width: 600px;
    }
    .home_card_all {
      margin-left: 65px;
    }
    /* .card {
      width: 800px;
    } */
    /* .card_details {
      padding: 0px;
      margin-left: 30px;
    }
    .card_image {
      width: 535px;
    } */
        .footer_container {
      width: 600px;
  }
  }

@media (min-width: 992px) {
    .home_top_content_container {
      flex-direction: row;
      width: 810px;
      margin: 300px auto 100px auto;
    }
    .home_top_content {
      width: 810px;
    }
    .home_d1_top {
      font-size: 130px;
      line-height: 160px;
    }
    .home_top_description {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .home_card_container {
      max-width: 810px;
    }
    .home_card_all {
      margin-left: 0px;
    }
    /* .card {
      width: 800px;
    } */
    /* .card_details {
      padding: 0px;
      margin-left: 30px;
    }
    .card_image {
      width: 360px;
    } */
    .footer_container {
      width: 810px;
  }
}

@media (min-width: 1200px) {
    .home_top_content_container {
      flex-direction: row;
      width: 960px;
      margin: 200px auto 150px auto;
    }
    .home_top_content {
      width: 880px;
    }
    .home_d1_top {
      font-size: 55px;
      font-weight: 500;
      line-height: 62px;
    }
    .home_top_description {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .home_card_container {
      max-width: 960px;
    }
    .home_card_all {
      margin-left: 80px;
    }
    .home_card_all a {
      padding: 30px;
    }
    /* .card {
      display: flex;
      justify-content: space-between;
      width: 100%;
    } */
    /* .card_details {
      width: 480px;
      padding: 15px 0 0 0;
    }
    .card_image {
      width: 290px;
      height: 220px;
    } */
    .footer_container {
      width: 960px;
  }

}



        